// src/assets/styles/_mixins.scss

@use 'variables' as vars;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin input-style {
  padding: vars.$spacing;
  border-radius: vars.$border-radius;
  border: 1px solid vars.$primary-color;
  font-family: vars.$font-family;
  font-size: 1rem;
  color: vars.$text-color;
}

@mixin card-style {
  background-color: vars.$background-color;
  padding: vars.$spacing-medium;
  border-radius: vars.$border-radius;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
