// src/assets/styles/_variables.scss

// Couleurs
$primary-color: #1abc9c;
$secondary-color: #2ecc71;
$primary-text-color: #333;
$text-color: #222;
$background-color: #f5f5f5;

// Espacements
$spacing-small: 5px;
$spacing: 10px;
$spacing-medium: 20px;
$spacing-large: 40px;

// Bordures
$border-radius: 5px;

// Autres
$font-family: 'Helvetica', sans-serif;
