// src/assets/styles/adminpanel.scss

@use 'variables' as vars;
@use 'mixins' as mixins;

.admin-container {
  padding: vars.$spacing-large;
  background-color: vars.$background-color;
}

.admin-input {
  @include mixins.input-style;
  margin-bottom: vars.$spacing-medium;
}
