// src/assets/styles/songlist.scss

@use 'variables' as vars;
@use 'mixins' as mixins;

.song-card {
  @include mixins.card-style;
  margin-bottom: vars.$spacing-medium;
}

.song-title {
  font-weight: bold;
  color: vars.$primary-color;
}
